#apDiv1 {
	position:absolute;
	margin-left:15%;
	top:80px;
	width:636px;
	height:45px;
	
	
}


#apDiv1 #com_pic {
	float: left;
	padding-right: 20px;
}

#apDiv1 #com_name {
	
}

#item_body {
	position:absolute;
	margin-left:15%;
	top:99px;
	height:45px;
	
}

#item_body {
	width:920px;
}
#item_body h1 {
	line-height: 1.8px;
}
#item_name {
	float: left;
	margin-top:5px;
}
#first_flour {
	height:120px;
	margin-left:0px;
	margin-top:60px;
	width:920px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	padding-bottom:20px;
}
#author_info {
	float: left;
	padding-right:20px;
	text-align:center;
}
#main_thing{
	
	line-height:1.6px;
}
#author_time {
	text-align:right;
	margin:0;
	padding:0;
}
#author_time span {
	padding-right: 10px;
	
}
#item_body ul {
	list-style:none;
	display:block;
	margin:0;
}
#item_body ul li {
	position: relative;
	margin:0;
	
}
#flour {
	
	padding: 0px;
	height:120px;
	margin-left:0px;
	margin-top:10px;
	width:920px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
#two_flour {
	position:absolute;
	top:400px;
	left:200px;
}

#myreply {
}
.bottomsolid {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}



#reply_top {
	
	float:right;
	width:55px;
	height:25px;
	font-family: Arial;
 border: 3px dotted #dedede;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;


}

#invisible ul li {
	display:inline-block;
}
#invisible {
	position:absolute;
	
}
.main_text {
	height: 120px;
	font-size: 12px;	
}
.main_text p{
	font-size: 16px;	
}
.main_text span {
	margin-right: 20px;
	font-weight: bold;
	
}

.replyandtrans{
	
	text-align:right;
	height:18px;
	
	}
.replyandtrans1,.replyandtrans2,.replyandtrans3,.replyandtrans4,.replyandtrans5,.replyandtrans6,.replyandtrans7{
	margin-top:10px;
	text-align:right;
	height:18px;
	
	}
	
#item_body a {
	text-decoration: none;
	color: #063;
	padding-right: 5px;
	padding-left: 5px;
}
.replyandtrans span {
	margin-left: 10px;
}
.replyandtrans1 span,.replyandtrans2 span,.replyandtrans3 span,.replyandtrans4 span,.replyandtrans5 span,.replyandtrans6 span,.replyandtrans7 span {
	margin-left: 10px;
}
#create_time p {
	
}


#item_body a:hover,#item_body a:active {
	background-color: #096;	
}

#create_time {
	
	
	text-align:right;
	font-size: 14px;	
	width:167px;
}


#reply_top a {
	font-size: 20px;
	font-weight: bold;
	color: #069;
}
#reply_top a:hover {
	background-color: #fff;
}
#roundCorderC{
 font-family: Arial;
 border: 5px solid #dedede;
 -moz-border-radius: 15px;
 -webkit-border-radius: 15px;
 padding: 15px 25px;
 height: inherit;
 width: 590px;
 }
 
._flour{
	
	}
	

#two_flour .main_text p {
	margin-top: 0px;
	margin-bottom: 0px;
}
