<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">yishijin5723</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/weicom</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="current_session_context_class">thread</property>
        
        <mapping resource="org/hns/bean/User.hbm.xml"/>
        <mapping resource="org/hns/bean/Community.hbm.xml"/>
        <mapping resource="org/hns/bean/UserPace.hbm.xml"/>
        <mapping resource="org/hns/bean/CommunityMember.hbm.xml"/>
        <mapping resource="org/hns/bean/MsgList.hbm.xml"/>
        <mapping resource="communityDB/Topicinfo.hbm.xml"/>
        <mapping resource="communityDB/Weiboinfo.hbm.xml"/>
        <mapping resource="communityDB/CommunityItem.hbm.xml"/>
        <mapping resource="communityDB/Itemreply.hbm.xml"/>
        <mapping resource="communityDB/Notice.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
